body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#coffemachine{
    margin: 0 auto;
    width: 300px;
    height: 280px;
    position: relative;
}
#coffe-header{
    width: 100%;
    height: 30%;
    background-color: lightgrey;
    border-radius: 0 0 15px 15px;

    
}
#coffe-header .coffe-button-1{
    background-color: black;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 100%;
    top: 20px;
    margin-left: 5%;
}
#coffe-header .coffe-button-1 .coffe-button-down-1{
    position: absolute;
    height: 10px;
    width: 8px;
    background-color: rgb(119, 119, 119);
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
#coffe-header .coffe-button-2{
    background-color: black;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 100%;
    top: 20px;
    margin-left: 20%;
}
#coffe-header .coffe-button-2 .coffe-button-down-2{
    position: absolute;
    height: 10px;
    width: 8px;
    background-color: rgb(119, 119, 119);
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
#coffe-header .coffe-header-head-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: aqua;
    position: relative;
    margin: 5px auto;
    border: 10px solid rgb(4, 151, 151);
}
.button-left1{
    position: absolute;
    background-color: grey;
    width: 10px;
    height: 25px;
    top: 0;
    right: 2%;
}
.button-left2{
    position: absolute;
    background-color: grey;
    width: 10px;
    height: 25px;
    top: 0;
    right: 7%;
}
.button-left3{
    position: absolute;
    background-color: grey;
    width: 10px;
    height: 25px;
    top: 0;
    right: 12%;
}
#coffe-center{
    background-color: darkgrey;
    width:80%;
    height: 50%;
    margin: 0 auto;
    position: relative;
    
}
.coffe-center-back{
    background-color: rgb(61, 61, 61);
    width: 80%;
    height: 50%;
    position: absolute;
    left: 10%;
    bottom: 0;
    border-radius: 15px 15px 0 0 ;
}
#coffe-center-dispenser{
    position: relative;
    width: 30%;
    height: 40%;
    margin: 0 auto;
}
.coffe-center-dispenser-top{
    position: relative;
    background-color: black;
    width: 100%;
    height: 45%;
}
.coffe-center-dispenser-mid{
    position: relative;
    width: 70%;
    height: 30%;
    background-color: black;
    border-radius: 0 0 90% 90%;
    margin: 0 auto;
}
.coffe-center-dispenser-bottom{
    position: relative;
    width: 15%;
    height: 25%;
    background-color: black;
    margin: 0 auto;
}
.arm{
    position: relative;
    width: 40%;
    height: 40%;
    background-color: grey;
    right: -100%;
    top: 10%;
}
.arm-handle{
    position: relative;
    width: 250%;
    height: 250%;
    background-color: black;
    right: -100%;
    bottom: 50%;
}
.coffe-center-back-cup{
    position: absolute;
    background-color: white;
    margin: 0 auto;
    width: 40%;
    height: 60%;
    bottom: 0;
    left: 30%;
    border-radius: 0 0 70px 70px / 0 0 110px 110px;
}
.steam1{
    position: absolute;
    background-color: white;
    width: 3%;
    height: 15%;
    border-radius: 25px;
    left: 32%;
    top: 25%;
    animation: steam 3s 1s linear forwards infinite;
    opacity: 0;
}
.steam2{
    position: absolute;
    background-color: white;
    width: 3%;
    height: 15%;
    border-radius: 25px;
    left: 42%;
    top: 25%;
    opacity: 0;

    animation: steam 3s 3s linear forwards infinite;
}
.steam3{
    position: absolute;
    background-color: white;
    width: 3%;
    height: 15%;
    border-radius: 25px;
    left: 55%;
    top: 25%;
    opacity: 0;

    animation: steam 3s 2s linear forwards infinite;
}
.steam4{
    position: absolute;
    background-color: white;
    width: 3%;
    height: 15%;
    border-radius: 25px;
    left: 62%;
    top: 25%;
    opacity: 0;

    animation: steam 3s 4s linear forwards infinite;
}
@keyframes steam{
    0%{
       
        opacity: 0.5;
    }
    50%{
        
        opacity: 0.25;
    }
    100%{
        transform: translateY(-15px);
        opacity: 0;
    }
}
.coffe-center-back-cup-handle{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 5px solid white;
    top: 10%;
    right: -75%;
}
#coffe-bottom{
    width: 100%;
    height: 20%;
}
.coffe-bottom-top{
    background-color: aqua;
    margin: 0 auto;
    width: 90%;
    height: 30%;
    border-radius: 20px;
}
.coffe-bottom-bottom{
    background-color: black;
    width: 100%;
    height: 70%;
}
.liquid-coffe{
    position: absolute;
    width: 10%;
    height: 75%;
    background-color: rgb(134, 43, 0);
    margin: 0 auto;
    z-index: 1;
    left: 45%;
    animation: liquid 6s linear both infinite;
}
@keyframes liquid{
0%{
    height: 0%;
    opacity: 1;
}
0%{
    height: 0%;
    opacity: 1;
}
20%{
    height: 75%;
    opacity: 1;
}
95%{
    height: 75%;
    opacity: 1;
}

100%{
    height: 75%;
    opacity: 0;
}
}